@media (min-width: 745px) {
    main {
        max-width: 1100px;
        display: block;
        margin: auto;
        padding-top: 32px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    header h2 {
        font-size: 32px;
    }

    .left-header {
        flex: 50%
    }

    nav ul li a {
        padding: 16px 40px;
        font-size: 22px;
    }

    .content .title {
        font-size: 36px;
    }

    .content p {
        font-size: 24px;
        line-height: 38px;
    }

    .banner {
        margin-bottom: 32px;
    }

    .widget-container {
        grid-template-columns: 33% 33% 33%;
    }

    .widget p {
        font-size: 12px;
        line-height: 16px;
    }

    .portfolio-container {
        grid-template-columns: 50% 50%;
    }

    .portfolio-container img {
        max-width: 400px;
    }

    .portfolio-container p {
        font-size: 16px;
    }

    .contact-container {
        grid-template-columns: 50% 50%;
        max-width: 600px;
        margin: auto;
    }

    footer p {
        display: inline;
        float: right;
        margin-top: 4px;
    }

    footer a {
        text-align: left;
    }
}

/* iPad Mini 8.3 744x1133 */
@media (max-width: 744px) {
    .left-header {
        width: 100%;
        text-align: center;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    header h2 {
        font-size: 28px;
    }

    nav ul li a {
        padding: 8px 16px;
        font-size: 16px;
    }

    .banner {
        height: 200px;
        margin-bottom: 16px;
    }

    .banner img {
        margin-left: -140px;
    }

    .content .title {
        font-size: 22px;
    }

    .content p {
        font-size: 14px;
        line-height: 24px;
    }

    .widget-container {
        grid-template-columns: 50% 50%;
    }

    .widget-container .full-widget {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .widget p {
        font-size: 12px;
        line-height: 16px;
    }

    /* PORTFOLIO PAGES*/
    .portfolio-container {
        grid-template-columns: 100%;
    }

    .portfolio-container p {
        font-size: 14px;
    }

    .portfolio-container img {
        max-width: 250px;
    }

    .contact-container {
        grid-template-columns: 100%;
    }

    footer {
        text-align: center;
    }
}

body {
    background-color: #E5E5E5;
    padding: 16px;
}

main {
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
}

header h2 {
    display: inline-block;
    margin: 16px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
}

nav ul li a.active,
nav ul li a:hover {
    color: #E5E5E5;
    font-style: bold;
    background-color: #000;
}

.content .title {
    text-align: center;
}

.content .bold {
    font-weight: bold;
}

.banner {
    overflow: hidden;
}

.widget-container {
    display: grid;
    text-align: center;
}

.widget-container .widget {
    padding: 16px;
    background-color: #E5E5E5;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 8px;
}

.widget h3 {
    margin: 8px 0 0px;
}

.widget p {
    margin: 8px 0 0px;
}

/* PORTFOLIO PAGES*/
.page-header {
    text-align: center;
}

.page-title {
    text-align: center;
    font-size: 28px;
}

.portfolio-container {
    display: grid;
}

.portfolio-item {
    padding-right: 16px;
    margin-bottom: 16px;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-container img {
    display: block;
    margin: auto;
}

.portfolio-container p {
    text-align: center;
    font-weight: bold;
}

.contact-container {
    display: grid;
    padding-bottom: 16px;
}

footer {
    padding-top: 16px;
    border-top: 2px dashed #BCBCBC;
}

footer a {
    text-decoration: none;
    margin: 0 20px;
    line-height: 32px;
    color: #464646;
}

footer a:hover {
    text-decoration: underline;
}


/* Roboto Font Style */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}