main {
    margin: 0 auto;
    max-width: 1100px;
    background-color: #FFF;
}

header {
    overflow: hidden;
    min-height: 56px;
    margin-top: 56px;

    .left-header {
        float: left;
        width: 50%;
        font-size: 32px;
        padding-top: 15px;
    }

    nav {
        float: right;
        width: 50%;
    }


    nav ul {
        list-style: none;
        float: right;
    }

    nav ul li {
        float: left;
        margin-right: 4px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 22px;
        padding: 16px 40px;
        color: #000;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: white;
        font-style: bold;
        background-color: #000;
    }

}


.content {
    padding: 87px 0 50px;
    font-size: 24px;
    line-height: 38px;
}

footer {
    text-align: center;
    padding: 30px 0;
    border-top: 4px dashed #BCBCBC;
}


/* Roboto Font Style */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}