.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
  background: #e5e5e5;
  width: 99%;
}

.contact-container textarea {
  height: 90px;
}

.contact-submit {
  padding: 8px 20px;
  background-color: D9D9D9;
  font-weight: bold;
}

/* Roboto Font Style */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
