.container {
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20% 20%; */
    grid-template-columns: 25% 25% 25% 25%;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.item {
    border: 2px solid green;
    min-height: 100px;
    min-width: 100px;
    padding: 10px;
    margin: 10px;
}

.item.selected {
    border: 2px solid blue;
    /* grid-column-start: 2;
    grid-column-end: 5; */
    grid-column-start: 2;
    grid-column-end: 5;
}

.item.other {
    grid-column-start: 1;
    grid-column-end: 5;
}